@font-face {
    font-family: gf-opensans;
    src: url(/fonts/OpenSans-Regular.ttf);
    font-display: fallback;
}

@font-face {
    font-family: gf-amaticsc;
    src: url(/fonts/AmaticSC-Regular.ttf);
    font-display: fallback;
}

@font-face {
    font-family: gf-merriweather;
    src: url(/fonts/Merriweather-Regular.ttf);
    font-display: fallback;
}